html,body {
	padding:0;
	margin:0;
	height:100%;
	background-color: #FFFFFF;
}
image, canvas {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}
#title {
	padding:20px 0px;
	margin: 0 auto;
}
#title h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#333;
	position:relative; 
	clear:left;
	width:100%;
	margin:0 auto;
	text-align: center;
}
#centered {
	position:relative; clear:left;
	width:500px;
	margin:0px auto;
	background:#fff;
} 
#main {
	position:relative;
	height:100%;
	width:100%;
	margin:0px auto;
}
#board-holder{
	height:100%;
	width:100%;
	margin:4px;
	border:4px solid #666;
}
#board {
	position: relative;
	height: 200px;
	width: 100%;
}
#box {
	position: absolute; 
	top: 50px;
	height: 100px; 
	width: 100px; 
	background-color: red;
}